page-dashboard {
  .bg{
        background-image: url('../assets/imgs/icon-court-with-balls.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
    }
}
