page-event-details-payment-summary {
.bg{
        background-image: url('../assets/imgs/icon-court-with-balls.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
    }
    
   .item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
  }
}
